@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}

.carousel-item > img {
    opacity: 0.9;
}

input.form-control {
    width: 250px;
}